html,
body,
#app,
#app>div {
    height: 100%
}

.exercise-form-wrapper {
    background: gainsboro;
    border-radius: 10px;
}

body {
    background: rgb(8,5,163);
background: radial-gradient(circle, rgb(36 38 50) 22%, rgb(48 51 62) 100%);
}