html,
body,
#app,
#app>div {
    height: 100%
}

.exercise-form-wrapper {
    background: gainsboro;
    border-radius: 10px;
}

body {
    background: rgb(8,5,163);
background: radial-gradient(circle, rgba(8,5,163,1) 22%, rgba(3,1,31,1) 100%);
}